*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0fe8;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 600px;
    height: 500px;
    border: 2px solid #d2cfcf;
    /* background: ; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.calendar-section{
    background: #000;
    width: 90%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.calendar-section input{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 25px;
    
}
.calendar-section button{
    width: 25%;
    height: 55px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.calendar-section button:hover{
    background: #000;
    border: 2px solid white;
    color: white;
}
.output{
    width: 90%;
    height: 150px;
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    
    
}
.output .card{
    background: #000;
    color: white;
    width: 120px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border-radius: 10px;
    
}
.output .card p{
    color: #bbbaba;
    
}
